
# Ports

## Frontend
FRONTEND_HOST_PORT=3000
FRONTEND_CONTAINER_PORT=3000

## Backend
BACKEND_HOST_PORT=8000
BACKEND_CONTAINER_PORT=8000

## Postgres
POSTGRES_HOST_PORT=5432
POSTGRES_CONTAINER_PORT=5432


# DB Credentials
POSTGRES_DB=dbname
POSTGRES_USER=dbuser
POSTGRES_PASSWORD=dbpassword
